video {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.video-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.video-content h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    margin-top: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.video-content p {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.video-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: all 0.3s ease;
    /* Smooth transition for all properties */
}

.video-button:hover {
    background-color: aqua;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    text-shadow: none;
}

@media screen and (max-width: 960px) {
    .video-content h1 {
        font-size: 50px;
        margin-top: 50px;
    }

    .video-content p {
        font-size: 20px;
    }
}